.projects {
    display: flex;
    /* background-color: rgb(0, 0, 0); #151315 */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 40px;
    padding-bottom: 40px;
    margin: 0;
    font-family: 'Poppins';
}

.projects__title {
    color: #fff;
    font-family: 'Poppins Semibold', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
    pointer-events: none;
}

.projects__content {
    margin-bottom: 8.75rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    justify-content: center;
    border-radius: 20px;
}

.projects__card-image {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.projects__card-img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.projects__card-style {
    background-color: #fff;
    border-radius: 20px;
    /* size card */
    min-height: 340px;
    width: 100%;
}

.projects__card-title {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    padding-top: 10px;
    background-color: #2fffba;
}

.projects__card-description {
    text-align: left;
    padding: 10px 16px; 
}

.projects__card-read-more {
    font-weight: bold;
    cursor: pointer;
}

.projects__card-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin: 0;
    padding: 4px 12px;
    border-radius: 0 0 20px 20px;
    /* on footer */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* center */
    justify-content: center;
    align-items: center;
}

.projects__stat:hover{
    background-color: #2fffba;
    border-radius: 20px;
    transition: 0.2s;
}

.projects__stat {
    margin: 0 0 10px 0;
    width: 100%;
}

i {padding-top: 10px;}

.carousel.carousel-slider {
    border-radius: 20px 20px 0 0;
}

@media screen and (max-width: 1442px) {
    .projects__content {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}
@media screen and (max-width: 1080px) {
    .projects {
        margin: 0;
        padding-top: 0px;
        padding-bottom: 10px;
        width: 100%;
        height: 100%;
    }
    .projects__content {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    .projects__card-stats {
        border-radius: 0 0 20px 20px ;
    }
}

@media screen and (max-width: 768px) {
    .projects__content {
        grid-template-columns: 1fr;
        justify-content: center;
        width: 70%;
    }
    .projects {
        padding-top: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 616px) {
    .projects__content {
        margin-bottom: 5rem;
    }
    .projects {
        padding-top: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
}