.footer__container {
    height: 17.8%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.footer__parent {
    width: 100%;
    height: 100%;
    /* max-width: 1920px; */
}
.footer__parent img {
    /* expand image to cover footer complete */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 1110px) {
    .footer__parent {
        display: flex;
        align-items: flex-end;
    }
}