.contact-me__container {
    position: relative;
    display: flex;
    /* background-color: rgb(255, 0, 0); */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px 0;
    color: aliceblue;
    font-family: 'Poppins';
}

.contact-me__box {
    position: relative;
    width: 77%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    z-index: 2;
}
.contact-me__box .contact-me__square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    animation: animate-square 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate-square {
    0%, 100% {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(40px);
    }
}
.contact-me__box .contact-me__square:nth-child(1) {
    top: 10px;
    right: -60px;
    width: 100px;
    height: 100px;
    z-index: 1;
}
.contact-me__box .contact-me__square:nth-child(2) {
    bottom: 80px;
    right: -60px;
    width: 100px;
    height: 100px;
}
.contact-me__box .contact-me__square:nth-child(3) {
    top: 70px;
    left: -60px;
    width: 100px;
    height: 100px;
}
.contact-me__box .contact-me__square:nth-child(4) {
    bottom: 50px;
    left: -60px;
    width: 100px;
    height: 100px;
    z-index: 1;
}

/* grid */
.contact-me__grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "contact-me__image contact-me__form";
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 8%;
    padding-bottom: 8%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(25px);
    overflow: hidden;
}
.contact-me__grid::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}
.contact-me__grid .contact-me__image {
    grid-area: contact-me__image;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.contact-me__grid .contact-me__form {
    grid-area: contact-me__form;
    /* grid 2 vertical */
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    padding: 0 15%;
    margin: 0;
}
.contact-me__form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-me__image {
    width: 400px;
    height: auto;
    padding: 0;
    margin: 0;
    animation: animate-img 8s linear infinite;
}
@keyframes animate-img {
    0%, 100% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(30px);
    }
}
.contact-me__image img {
    width: 100%;
    height: auto;
    max-width: 400px;
    padding: 0;
    margin: 0;
}
.contact-me__text {
    padding-bottom: 10px;
}
.contact-me__label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: #fff;
}
.contact-me__input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px;
    margin: 0;
    background-color: #fff;
    color: black;
    min-height: 35px;
}
.contact-me__textarea {
    height: 100px;
}

/* button form */
.glow-on-hover {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(255, 1, 1);
    cursor: pointer;
    position: relative;
    margin: 10px 0 0 0;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(160, 29, 29);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media screen and (max-width: 1005px) {
    .contact-me__box {
        width: 74%;
        height: 100%;
        margin: 0;
    }
    .contact-me__grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "contact-me__image" "contact-me__form";
    }
    .contact-me__image__move {
        width: 200px;
        height: 200px;
        padding: 0;
        margin: 0;
    }
    @keyframes animate-img {
        0%, 100% {
            transform: translateY(-15px);
        }
        50% {
            transform: translateY(12px);
        }
    }
    .contact-me__grid .contact-me__form {
        padding: 0 10%;
    }
}

@media screen and (max-width: 768px) {
    .contact-me__container {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .contact-me__box {
        width: 72%;
        height: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 616px) {
    .contact-me__box {
        width: 70%;
        height: 100%;
        margin: 0;
    }
    .contact-me__box .contact-me__square{
        border-radius: 30%;
    }
    .contact-me__box .contact-me__square:nth-child(1) {
        top: 10px;
        right: -20px;
        width: 50px;
        height: 50px;
        z-index: 1;
    }
    .contact-me__square:nth-child(2) {
        display: none;
    }
    .contact-me__box .contact-me__square:nth-child(3) {
        top: 65px;
        left: -20px;
        width: 50px;
        height: 50px;
    }
    .contact-me__square:nth-child(4) {
        display: none;
    }
    .contact-me__title {
        font-size: 6.6vw;
    }
    .contact-me__label {
        font-size: 1rem;
    }
}

@media screen and (max-width: 317px) {
    .contact-me__text {
        font-size: 10vw;
    }
    @keyframes animate-img {
        0%, 100% {
            transform: translateY(-10px);
        }
        50% {
            transform: translateY(2px);
        }
    }
}